{% extends 'base.html.twig' %}
{% block title %}
    Categories
{% endblock %}
{% block body %}
    <h1 class="text-left mx-auto my-5 pt-4">
        Categories
    </h1>
    <div class="d-flex justify-content-around"></div>
    {# On affiche toutes les vidéos avec une boucle #}
    <div class="row mt-5">
        <div class="col-3 mb-3">
            <div class="card h-100 position-relative">
                <div class="position-relative">
                    {% if category.imageName is defined and category.ImageName is not null %}
                        <img
                        src="{{ asset('/images/categories/' ~ category.ImageName) }}" class="card-img-top" alt="{{ category.titre }}">
                            {% else %}
                            <img src="{{ asset('/images/categories/nu-disco.jpg') }}" class="card-img-top" alt="image par défaut">
                            {% endif %}
                            <i data-feather="heart"></i>
                        </a>
                </div>
            </a>
            <div class="d-flex gap-5 position-absolute bottom-0 m-4 p-3">
                <button type="submit" class="btn btn-primary ">
                    Catégorie
                </button>
            </div>
        </div>
    </div>
</div>{% endblock %}